.container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  margin: 0 auto;
  margin-top: 9rem;
  padding: 6rem 0rem;
  width: 91%;
  z-index: 4000;
  transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);

  @media only screen and (max-width: 79.25em) {
    justify-content: center;
  }

  @media only screen and (max-width: 64em) {
    padding: 17rem 0
  }

  @media only screen and (max-width: 37.5em) {
    flex-direction: column;
    align-content: center;
  }

  &--count {
    position: absolute;
    top: 0;
    padding: 1rem 2rem;
    color: rgba(96, 112, 124, 0.5);
    font-weight: 900;
    font-size: 3.5rem; 

    @media only screen and (max-width: 64em) {
      padding: 11rem 2rem;
    }

    @media only screen and (max-width: 37.5em) {
      width: 100%;
      text-align: center;
    }
  }

  &__card--parent {
    position: relative;
    margin: 1.5rem;
  }

  &--card { 
    border-bottom: 0.2rem solid rgba(245, 127, 23, 0.5);
    padding-bottom: 6rem;
    width: 36rem;
    overflow: hidden;
    border-radius: .2rem;
  }

  &--figure {
    position: relative;
    height: 36rem;
    width: 36rem;
    overflow: hidden;
    border-radius: .1rem;
  }

  &__img--placeholder {
    background: linear-gradient( to left, hsl(0, 0%, 80%), hsl(0, 0%, 90%) );
    position: absolute;
    top: 0;
    left: 0;
    animation: pulse 1s linear 1s infinite;
    width: 100%;
    height: 100%;
    transition: all 1s ease-in;
  }

  &--img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  &--details {
    font-weight: 900;
    font-size: 2rem;
    color: #000000;
    padding: 1rem;
    width: 36rem;
  }

  &--title {
    font-size: 1.7rem;
    height: 3rem;
    overflow: hidden;
  }

  &--publisher {
    font-size: 1.5rem;
    color: rgba(30, 39, 46,.5);
    cursor: pointer;
    outline: none;
  }

  &__viewmore {
    padding: 0 1rem;
    transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    position: absolute;
    bottom: 5%;

    &--btn {
      background: #e67e22;
      display: inline-block;
      padding: .7rem 2.5rem;
      color: #fff;
      font-weight: 900;
      font-size: 1.3rem;
      text-transform: uppercase;
      text-align: center;
      border-radius: .5rem;
      outline: none;
      cursor: pointer;
      z-index: 3000;

      &:hover {
        cursor: pointer;
      }
    }
  }
}