@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  0% {
    background: linear-gradient( to left,hsl(0, 0%, 90%) );
  }

  100% {
    background: linear-gradient( to left, hsl(0, 0%, 90%), hsl(0, 0%, 80%) );
  }
}
