*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 69%;

  @media only screen and (max-width: 194.5em) {
    font-size: 90%;
  }

  @media only screen and (max-width: 181.5em) {
    font-size: 82%;
  }

  @media only screen and (max-width: 175em) {
    font-size: 81%;
  }

  @media only screen and (max-width: 174em) {
    font-size: 78%;
  }

  @media only screen and (max-width: 167.5em) {
    font-size: 97%;
  }

  @media only screen and (max-width: 168em) {
    font-size: 77%;
  }

  @media only screen and (max-width: 127.5em) {
    font-size: 73%
  }

  @media only screen and (max-width: 125em) {
    font-size: 68%
  }

  @media only screen and (max-width: 115em) {
    font-size: 66%
  }

  @media only screen and (max-width: 113.75em) {
    font-size: 65%
  }

  @media only screen and (max-width: 112.5em) {
    font-size: 52%;
  }

  @media only screen and (max-width: 111.75em) {
    font-size: 51%;
  }

  @media only screen and (max-width: 108.75em) {
    font-size: 46%;
  }

  @media only screen and (max-width: 104em) {
    font-size: 80%;
  }

  @media only screen and (max-width: 97em) {
    font-size: 50%;
  }

  @media only screen and (max-width: 84.75em) {
    font-size: 48%;
  }

  @media only screen and (max-width: 82.25em) {
    font-size: 47%;
  }

  @media only screen and (max-width: 81.25em) {
    font-size: 46%;
  }

  @media only screen and (max-width: 79.25em) {
    font-size: 60%;
  }

  @media only screen and (max-width: 78em) {
    font-size: 50%;
  }

  @media only screen and (max-width: 64.75em) {
    font-size: 44%
  }

  @media only screen and (max-width: 64em) {
    font-size: 74%
  }

  @media only screen and (max-width: 50em) {
    font-size: 58%
  }

  @media only screen and (max-width: 48em) {
    font-size: 56%
  }

  @media only screen and (max-width: 37.5em) {
    font-size: 73%
  }

  @media only screen and (max-width: 25.875em) {
    font-size: 55%
  }

  @media only screen and (max-width: 25.688em) {
    font-size: 50%
  }

  @media only screen and (min-width: 230em) {
    font-size: 66%
  }
}
